/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PlaypenSans", sans-serif;
  background-color: #f8f8f8;
  color: #333;
  text-align: center;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

section.profile-section {
  margin: 50px auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-content {
  text-align: left;
}

.highlighted-text {
  color: #f00;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.rounded-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  background-color: #f00;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-blue {
  background-color: #f00;
}

.button-orange {
  background-color: #f00;
}

.button-blue:hover,
.button-orange:hover,
.rounded-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-red {
  color: #f00;
  margin-right: 5px;
}

.glow-text {
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
